@import './inicio.css';
@import './menu.css';
@import './footer.css';
@import './sobre.css';
@import './produto.css';
@import './login.css';



body {
    font-family: 'Fira Sans', Arial, sans-serif;
    margin: 0px;
}

h1{
    color: white;
    margin-right: 500px;
}

h2,
h3,
h4,
p {
    color: white;
    margin: 0px;
    padding: 0px;
}

.menu1{
    background-color: rgb(182, 33, 13);
    text-align: center;
    padding-top: 10px;
}

